---

---

<section
  class="relative w-full py-2 px-10 flex flex-col items-center justify-center text-center"
>
  <!-- TEXTO DEDICATORIA -->
  <p
    class="font-charm text-[#7a5c2e] text-xl sm:text-xl md:text-2xl leading-relaxed max-w-xl"
  >
    Hoy celebro con alegría mis 15 años, un regalo de vida lleno de momentos que
    me han enseñado a ser fuerte y a caminar con fe. Agradezco a Dios por cada
    paso dado y por cada bendición que me ha regalado, confiando en que su luz
    siempre guiará mi camino
  </p>

  <!-- MIS 15 AÑOS en dorado -->
  <p
    class="font-crimson text-[#c9932a] text-4xl sm:text-3xl md:text-4xl font-bold tracking-widest mt-4"
  >
    MIS 15 AÑOS
  </p>
</section>
