---

---

<section class="py-8 px-8 flex flex-col items-center text-center">
  <!-- Texto invitación -->
  <p
    class="font-charm text-2xl sm:text-3xl text-[#7a5c2e] leading-relaxed mb-8"
  >
    Con gran honor te invito a crear <br /> recuerdos inolvidables en este<br
    />día especial.
  </p>

  <!-- Fecha -->
  <div class="flex items-center justify-center gap-4">
    <!-- SÁBADO -->
    <div class="flex flex-col items-center w-24">
      <div class="w-full h-px bg-[#c9932a] mb-2"></div>
      <span
        class="font-charm text-lg text-[#7a5c2e] uppercase tracking-wider font-bold"
        >SÁBADO</span
      >
      <div class="w-full h-px bg-[#c9932a] mt-2"></div>
    </div>

    <!-- Número 14 -->
    <span
      class="font-charm text-7xl md:text-8xl text-[#c9932a] font-bold leading-none"
      >14</span
    >

    <!-- MARZO -->
    <div class="flex flex-col items-center w-24">
      <div class="w-full h-px bg-[#c9932a] mb-2"></div>
      <span
        class="font-charm text-lg text-[#7a5c2e] uppercase tracking-wider font-bold"
        >MARZO</span
      >
      <div class="w-full h-px bg-[#c9932a] mt-2"></div>
    </div>
  </div>

  <!-- Año -->
  <p class="font-charm text-3xl md:text-4xl text-[#7a5c2e] font-bold mt-2">
    2026
  </p>
</section>
