<section class="relative w-full overflow-hidden">
    <img
        src="/imagenes/imagen1.webp"
        alt="Foto de quinceañera"
        class="w-full h-auto object-cover object-center block"
        style="aspect-ratio: 1080 / 1920;"
    />
</section>
