---

---

<section
  class="py-2 flex flex-col items-center justify-center text-center px-10"
>
  <!-- Título -->
  <p
    class="font-crimson text-[#c9932a] text-xl uppercase tracking-[0.3em] mb-3"
  >
    Mis Padres y mis hermanos
  </p>

  <!-- Línea decorativa -->
  <div class="w-16 h-px bg-[#c9932a]/50 mb-6"></div>

  <!-- Texto dedicatoria -->
  <p
    class="font-charm text-[#7a5c2e] text-xl sm:text-lg md:text-xl leading-relaxed max-w-sm"
  >
    Con la bendición de mis padres y mis hermanos doy este gran paso en mi vida.
    Su amor incondicional ha sido mi mayor fortaleza, su guía mi camino y su fe
    en mí, la luz que ilumina cada uno de mis sueños.
  </p>

  <!-- Línea decorativa -->
  <div class="w-16 h-px bg-[#c9932a]/50 mt-6"></div>
</section>
